body {
	font-family: sans-serif;
}

.demo {
	.screens {
		display: flex;

		.ast-display {
			font-family: monospace;
			font-size: 16px;
			max-height: 90vh;
			padding: 5px;
			overflow-y: scroll;
			width: 50%;

			pre {
				white-space: break-spaces;
			}

			.node-display-item-hovered {
				background: rgba(255, 255, 0, 0.4);
			}
		}

		.code-input {
			width: 50%;

			textarea {
				width: 98%;
				height: 90vh;
			}
		}
	}

	.settings label {
		user-select: none;
		padding-right: 20px;
	}
}
